
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    // border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .card h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .card-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .item {
    width: 45%; 
  }
  .item img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 8px;
  }
  .item p{
    font-size: 14px;
    text-align: center;
  }
  h2 {
    font-size: 1.5rem;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  p{  
    font-family: Arial, sans-serif;
  }
  .explore-link {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #0073e6;
    text-decoration: none;
  }
  .explore-link:hover {
    text-decoration: underline;
    color: #404040;
  }
  .sign-in {
    text-align: center;
  }
  .sign-in-button {
    padding: 10px 20px;
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .sign-in-button:hover {
    background-color: #ffc107;
  }
  .calendar-image {
    width: 100%;
    border-radius: 5px;
  }



  .coupon {
    font-size: 14px;
    color: #007600;
    margin-top: 5px;
  }

.card img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}/* Basic styling */


.card {
  flex: 1 1 calc(50% - 20px);
  margin: 10px;
}

.card-add {
  flex: 1 1 calc(50% - 20px);
  margin: 10px;
}

.add-img {
  width: 100%;
  height: auto;
}

.card .description {
  font-size: 0.9em;
  color: #666;
  margin: 10px 0;
}

.card .rating {
  color: #f39c12;
  margin: 10px 0;
}

.card .price {
  font-size: 1.2em;
  margin: 10px 0;
}

.card .mrp {
  text-decoration: line-through;
  color: #999;
  font-size: 0.9em;
}

.card .discount {
  color: green;
  font-size: 0.9em;
}

.card button {
  background-color: #ff9900;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 1em;
}

/* Media Queries for Responsiveness */

/* For small screens like mobile phones */
@media (max-width: 768px) {
  .card {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .card-add {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .card .description {
    font-size: 0.8em;
  }

  .card .price {
    font-size: 1em;
  }

  .card button {
    width: 100%;
    padding: 15px;
  }
}

/* For very small screens */
@media (max-width: 480px) {
  .card .description {
    font-size: 0.75em;
  }

  .card .price {
    font-size: 0.9em;
  }
}



// last page

footer {
  background-color: #232f3e;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px 40px;
}
a {
  color: #ddd;
  text-decoration: none;
}
a:hover {
  color: white;
}
.back-to-top {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}

// Footer 
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #404040;
}
.footer-column {
  width: 22%;
}
.footer-column h4 {
  margin-bottom: 10px;
  font-size: 16px;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column ul li {
  margin: 5px 0;
}
.footer-bottom {
  display: flex;
  padding: 10px 0;
}
.footer-logo {
  font-size: 18px;
  font-weight: bold;
  
  margin-left: 0px;
}
.language-select {
  padding: 5px 10px;
  background-color: #37475a;
  border-radius: 3px;
  // display: inline-block;
}
.footer-bottom-right{
  display: flex;
}
.footer-bottom-left{
  justify-content: center;
  display: flex;

}




// Carousel Container 
.carousel-container {
  max-width: 100%;
  height: 200px;
  margin: 20px auto;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.carousel-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}


//  Carousel Wrapper 
.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden; 
}

// Carousel Items
.carousel {
  display: flex;
  width: 80vw;
}

.carousel-items {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: calc(100% / 7); 
  // padding: 5px;
  text-align: center;
}

.carousel-image {
  max-width: 100%;
  height: 200px;
  display: block;
  border-radius: 5px;
}

// Navigation Buttons

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  z-index: 2;
  width: 50px;
  height: 100px; 
  background-color: #ffffff; 
  border: 1px solid #ddd; 
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #555; 
  background-color: #f5f5f5;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
  border-radius: 4px;
}
.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

// Responsive Design 
@media (max-width: 768px) {
  .carousel-item {
    min-width: calc(100% / 2);
  }

  .carousel-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .carousel-item {
    min-width: 100%; 
  }
}
.carousel-items {
  transition: transform 0.3s ease-in-out;
}
.footer-two {
  padding: 20px;
  background-color: #131A22;
  color: #ccc;
  text-align: center;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.column {
  margin: 10px;
  max-width: 200px;
}

.column h4 {
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
}

.column p {
  font-size: 12px;
  line-height: 1.5;
}

.footer-bottom {
  font-size: 12px;
}

.footer-bottom a {
  color: #008CBA;
  text-decoration: none;
  margin: 0 5px;
}

.footer-bottom a:hover {
  text-decoration: underline;
}



