body{
    background: #FFFFFF;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
.help{
    display: flex;
}
.sidebar{
    // background: red;
    flex:0.4;
    min-width:220px;
    padding:  2px 2px;
}
.help-container{  
    // background: rgb(13, 0, 255);
    flex:2;
    padding-top: 32px;
}
.solutions{
    width: 640px;
    padding: 0 20px;
    margin: 0 151px 0 0;
    // background: rgb(0, 255, 30);
}
.search-bar{
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 0.5px solid #BCBEBE;
    margin-bottom: 50px;
}
.securitylegal{
    font-size: 14px;
}
h4{
    padding-top: 15px;
    font-weight: 700;
    font-size: 24px;

}
h5{
    font-weight: 700;
    font-size: 18px !important;
}
h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
}
p.lead {
    font-size: 16px;
    line-height: 1.4em;
    color: #555;
    border-bottom: 1px solid #ddd;
    margin-bottom: 14px;
    padding-bottom: 24px;
}
p+p {
    margin-top: -4px;
}
p {
    margin: 0 0 14px 0;
}
section {
    margin-bottom: 22px;
}
a{
    text-decoration: none;
    color: #0d8fa6}
 a:hover{
    color: #CB511F;
    text-decoration: underline;
 }   
h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
.allhelp{
    width: 205px;
    border-radius: 3px;
    border: 0.5px #DDDDDD solid;   
}
.inner-box1{
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 0.5px solid #DDDDDD;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.inner-box2{
    width: 100%;
    // background-color: rgb(0, 255, 200);
    margin: 0 auto;
    padding: 10px 0px 10px 10px;
    font-size: 14px;
    line-height: 24px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.quicksolutions{
    background-color: #FFFFFF;
    margin-top: 10px;
    width: 205px;
    border-radius: 3px;
    padding: 10px 10px;
    border: 0.5px #DDDDDD solid;   
}
h3{
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 18px;
    color: #111;
}
h6{
    margin-bottom: 0 !important;
    font-size: 14px !important;
}
.imgdatas{
    display: flex;
    margin-top: 10px;
}
.img{
    width: 49px;
    height: 49px;
    background: #FFFFFF;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.data{
    background-color: #FFFFFF;
    padding-left: 10px;
    font-size: 12px !important;
    line-height: 16px !important;
}
.im1{
    background-image: url('/Box_smaller.png');  
}
.im2{
    background-image: url('/returns-box-qs.png');  
}
.im3{
    background-image: url('/Prime_clear-bg.png');  
}.im4{
    background-image: url('/Payments_clear-bg.png');  
}.im5{
    background-image: url('/amazon-pay-qs.png');  
}.im6{
    background-image: url('/IN-your-account.png');  
}
.information{
    margin-top:20px;
    margin-bottom: 20px;
    width: 380px;
    height: 100px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 0.5px solid #BCBEBE;
    padding: 20px 0px 0px 20px;
    line-height: 20px;
}
.btn {
    border: 0.5px solid #BCBEBE; 
    border-radius: 50%; 
    cursor: pointer;
    margin-left: 10px;
    font-size: 13px;
    
  }
  .btn:hover {
    background-color: #fbf8f8;
  }
  .divider{
    width: 100vw;
    margin-top: 40px;
    border-top:2px solid #E2E4E4 ;
    margin-bottom: 40px;
  }
@font-face {
    font-family: 'Amazon Ember';
    src: url('/Amazon Ember.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
