body {
  font-size: 13px;
  color: #111;
  font-family: "Amazon Ember", Arial, sans-serif;
}
main {
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  position: static;
}
img {
  margin: auto;
  display: block;
  width: 125px;
  font-size: 20px;
  margin-bottom: 22px;
  margin-top: 10px;
}
#amazon {
  width: 306px;
  height: 33px;
  font-size: 13px;
  font-weight: 500;
  background: #FFD814;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#amazon:hover {
  background: #F7CA00;
}
.signin {
  margin: 0 auto;
  border: 0.5px solid #DDDDDD;
  border-radius: 8px;
  padding-left: 25px;
  width: 360px;
  padding: 20px 24px 30px 24px;
}
h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
}
label {
  padding: 0px 0px 2px 2px;
  font-weight: 600;
}
span{
  padding: 0px 2px 2px 4px;
  font-size: 13px;
}
p{
  padding: 0px 2px 2px 10px;
  font-size: 12px;
}
input {
  border-color: #A6A6A6;
  border-radius: 3px;
  border-width: 0, 2px;
  height: 30px;
  width: 306px;
  margin: 3px 0px  15px 0px;
}
#createnewaccount {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
#newaccount {
  background: #FFFFFF;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  width: 360px;
  height: 28px;
  font-size: 13px;
  border: 0.5px solid #DDDDDD;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
#newaccount:hover {
  background: #F7FAFA;
}
#footer {
  display: block;
  width: 100vw;
  height: 44px;
  background-color: transparent;
  background: -webkit-linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
  justify-content: center;
  text-align: center;
  line-height: 30px;
}
#footer a {
  margin-right: 15px; 
  text-decoration: none;
  font-size: 11px;
}
#footer a:last-of-type {
  margin-right: 0;
}
#fpassword {
  margin-left: 136px;
  text-decoration: none;
  font-weight: normal ;
}
#special {
  font-size: 11px;
  text-align: center;
  color: #656860;
}
#divider{
  width: 100%;
  height: 44px;
  margin-top: 30px;
  margin-bottom: -18px;
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, .14), rgba(0, 0, 0, .03) 3px, transparent);
  background: linear-gradient(to bottom, rgba(0, 0, 0, .14), rgba(0, 0, 0, .03) 3px, transparent);
}
.line-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 20px 0; 
  color: rgb(134, 134, 134);
  font-size: 11px; 
}
.line-with-text::before,
.line-with-text::after {
  content: "";
  width: 115px;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}
a:link{
  color: blue;
}
a:hover{
  color: #DF9000;  
}
@font-face {
  font-family: 'Amazon Ember';
  src: url('/Amazon Ember.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


