<html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container-fluid main">
    <img src="/amazon-in-logo.png" alt="amazon" />
    <form [formGroup]="login" (ngSubmit)="onSubmit()">
      <div class="signin">
        <h1 id="signintxt">Sign in</h1>
        <label for="email">
          <span>Mobile phone number</span><br>
          <input type="text" class="form-control" name="mobilephonenumber" id="phone" formControlName="mobilenumber">
        </label><br>
        <label for="password">
          <span>Password</span>
          <span><a href="#" id="fpassword">Forgot Password?</a></span>
          <br>
          <input type="password" class="form-control" name="password" id="pass" formControlName="password">
        </label><br>
        <button type="submit" id="amazon" >Continue</button>
        <p>By continuing, you agree to Amazon's <a  routerLink="/customerservice">Conditions of use </a> and
           <a  routerLink="/privacypolicy">Privacy Notice</a></p>
      </div>
      <div id="createnewaccount">
        <div class="line-with-text">
          <span>New to Amazon?</span>
        </div>
        <button id="newaccount" (click)="signup()">Create your Amazon Account</button>
      </div>
      <div id="divider"></div>
      <div id="footer">
        <a routerLink="/customerservice">Conditions of Use </a>
        <a routerLink="/privacypolicy">Privacy Notice</a>
        <a routerLink="/customerservice">Help</a><br>
        <span class="links" id="special">
          © 1996-2024, Amazon.com, Inc. or its affiliates</span>
      </div>
    </form>
    <app-home *ngIf="isViewVisible"></app-home>
  </div>
</body>

</html>